*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
h1{
    font-size: 6vw;
    text-align: center;
    margin-bottom: .5em;
}
.row{
    display: flex;
    justify-content: center;
}
img{
    max-width: 30vw;
}
.cell{
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
}
.lightbox{
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    z-index: 10;
    color: white;
}

.cross{
    background-color: rgba(0, 0, 0, 0.671);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 0px;
    font-size: 30px;
    cursor: pointer;
}

article{
display: flex;
align-items: center;
height: 100vh;
width: 100vw;
justify-content: center;
flex-direction: column;
}

.counter{
    margin-bottom: 1em;
}

.image-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.image-container img{
    max-width: 500px;
    height: 600px;
}

.desc{
margin: 1em 0em 1em 0em;
}

.picker {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}
.picker img{
    width: 100px;
    max-width: 14vw;
}